<% if user_signed_in? %>
  <h1>My Created Events</h1>
  <%= link_to "Create a new event", new_event_path if user_signed_in? %>
  <h3>Past Events</h3>
  <% current_user.created_events.each do |event| %>
    <% unless event.date.to_date > Date.current %>
    <ul>
      <li>
        <%= link_to "#{event.date} - #{event.location}", event_path(event) %>
      </li>
    </ul>
    <% end %>
  <% end %>
  <h3>Upcoming Events</h3>
  <% current_user.created_events.each do |event| %>
    <% unless event.date.to_date < Date.current %>
    <ul>
      <li>
        <%= link_to "#{event.date} - #{event.location}", event_path(event) %>
      </li>
    </ul>
    <% end %>
  <% end %>
  

<% else %>
  <h3> Sign up to or login to create  events </h3>

<% end %>




   