<h1>All Events</h1>
<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to "#{event.date} - #{event.location}", event_path(event) %>
    </li>
  <% end %>
</ul>

<% unless user_signed_in? %>
  <h3> Sign up to or login to create  events </h3>
<% end %>


