<h1>All Events</h1>
<ul>
  <h3>Past Events</h3>
  <% @past_events.each do |event| %>
    <li>
      <%= link_to "#{event.date} - #{event.location}", event_path(event) %>
    </li>
  <% end %>
</ul>
<ul>
  <h3>Upcoming Events</h3>
  <% @upcoming_events.each do |event| %>
    <li>
      <%= link_to "#{event.date} - #{event.location}", event_path(event) %>
    </li>
  <% end %>
</ul>





